@inject IJSRuntime JsRuntime

@inject NavigationManager Navigation
@inject MainLayoutService MainLayoutService
@inject NavBarService NavBarService

@inject MobileNavMenuService MobileNavMenuService

<!-- drawer menu component -->
@* todo: preserve the scroll position of the menu in website sessions *@
<!-- todo: this div exists because tabindex on an element with the container utility is not working --->
<nav id="@_drawerMenuId" tabindex="-1" class="@DrawerMenuVisibility w-screen bg-neutral-800 lg:hidden">
    <div class="">
        <button @onclick="() => ToggleDropdownMenu(_aboutUs)" class="border-0 border-b border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none">
            <div class="w-full flex flex-row items-center justify-between">
                <p class="text-start text-base font-serif text-white m-0 p-0">
                    About Us
                </p>
                <svg class="h-6 w-6 fill-white" style="@_aboutUsDropdownIconTransition">
                    <use href="icons/dropdown.svg#dropdown-icon"></use>
                </svg>
            </div>
        </button>

        <div class="@_aboutUsVisibility flex flex-col items-start justify-center ">
            <button @onclick='(() => { Navigation.NavigateTo("/BoardOfDirectors"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Board of Directors
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/Advisors"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Advisors
            </button>
        </div>
    </div>

    <div class="">
        <button @onclick="() => ToggleDropdownMenu(_elevate)" class="border-0 border-b border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none">
            <div class="w-full flex flex-row items-center justify-between">
                <p class="text-start text-base font-serif text-white m-0 p-0">
                    Elevate
                </p>
                <svg class="h-6 w-6 fill-white" style="@_elevateDropdownIconTransition">
                    <use href="icons/dropdown.svg#dropdown-icon"></use>
                </svg>
            </div>
        </button>

        <div class="@_elevateVisibility flex flex-col items-start justify-center ">
            <button @onclick='(() => { Navigation.NavigateTo("/AttbAccreditation"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                AATB Accreditation
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/CaresReporting"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                CARES Reporting
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/SpearInitiative"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                SPEAR Initiative
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/Beacon"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                BEACON
            </button>
        </div>
    </div>

    <div class="">
        <button @onclick="() => ToggleDropdownMenu(_educate)" class="border-0 border-b border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none">
            <div class="w-full flex flex-row items-center justify-between">
                <p class="text-start text-base font-serif text-white m-0 p-0">
                    Educate
                </p>
                <svg class="h-6 w-6 fill-white" style="@_educateDropdownIconTransition">
                    <use href="icons/dropdown.svg#dropdown-icon"></use>
                </svg>
            </div>
        </button>

        <div class="@_educateVisibility flex flex-col items-start justify-center ">
            <button @onclick='(() => { Navigation.NavigateTo("/StasisKnowledgeHub"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                The Stasis Knowledge Hub
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/Volunteering"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Volunteering
            </button>
        </div>
    </div>

    <div class="">
        <button @onclick="() => ToggleDropdownMenu(_innovate)" class="border-0 border-b border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none">
            <div class="w-full flex flex-row items-center justify-between">
                <p class="text-start text-base font-serif text-white m-0 p-0">
                    Innovate
                </p>
                <svg class="h-6 w-6 fill-white" style="@_innovateDropdownIconTransition">
                    <use href="icons/dropdown.svg#dropdown-icon"></use>
                </svg>
            </div>
        </button>

        <div class="@_innovateVisibility flex flex-col items-start justify-center ">
            <button @onclick='(() => { Navigation.NavigateTo("/AldehydeStabilizedPreservationProtocol"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Aldehyde Stabilized Preservation Protocol
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/WholeBodyFieldCryoprotection"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Whole Body Field Cryoprotection
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/SstOptimization"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Standby, Stabilization, and Transport (SST) Optimization
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/RegionalReadinessDevelopment"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Regional Readiness Development
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/RegionalInventoryManagement"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Regional Inventory Management
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/DocumentationDevelopment"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Documentation Development
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/LifebridgeProgram"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Lifebridge Program
            </button>
        </div>
    </div>

    <div class="">
        <button @onclick="() => ToggleDropdownMenu(_legalDisclosures)" class="border-0 border-b border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none">
            <div class="w-full flex flex-row items-center justify-between">
                <p class="text-start text-base font-serif text-white m-0 p-0">
                    Legal Disclosures
                </p>
                <svg class="h-6 w-6 fill-white" style="@_legalDisclosuresDropdownIconTransition">
                    <use href="icons/dropdown.svg#dropdown-icon"></use>
                </svg>
            </div>
        </button>

        <div class="@_legalDisclosuresVisibility flex flex-col items-start justify-center ">
            <button @onclick='(() => { Navigation.NavigateTo("/TermsAndConditions"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Terms & Conditions
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/TrademarkPolicy"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Trademark Policy
            </button>
            <button @onclick='(() => { Navigation.NavigateTo("/PrivacyPolicy"); MobileNavMenuService.HideDrawerNavigationMenu(); })' class="bg-transparent text-start font-serif border-0 border-b border-[#2f375a] w-full ps-8 py-3 text-gray-400 no-underline text-base hover:text-white hover:underline hover:decoration-[#3cf5f7] shadow-none focus:outline-none active:transform-none">
                Privacy Policy
            </button>
        </div>
    </div>
</nav>

@code {

    // note: drawer navigation menu component
    private DotNetObjectReference<MobileNavMenu>? _objRef;
    private string _drawerMenuId = Guid.NewGuid().ToString();
    private string DrawerMenuVisibility => MobileNavMenuService.IsMobileNavigationMenuVisible ? "" : "hidden";

    public async void ShowDrawerNavigationMenu()
    {
        await JsRuntime.InvokeVoidAsync("setupFocusListener", _objRef, _drawerMenuId, "HideDrawerNavigationMenu", "click");

        MobileNavMenuService.IsMobileNavigationMenuVisible = true;

        MainLayoutService.DisableInteractivity(true);
        NavBarService.UpdateNavBarBackground("bg-neutral-800");

        StateHasChanged();
    }

    [JSInvokable]
    public void HideDrawerNavigationMenu()
    {
        MobileNavMenuService.IsMobileNavigationMenuVisible = false;

        MainLayoutService.DisableInteractivity(false);
        NavBarService.UpdateNavBarBackground();

        StateHasChanged();
    }

    // note: drawer navigation menu dropdown components
    private string _aboutUs = "aboutUs";
    private string _elevate = "elevate";
    private string _educate = "educate";
    private string _innovate = "innovate";
    private string _legalDisclosures = "legalDisclosures";

    private string _aboutUsVisibility = "hidden";
    private string _elevateVisibility = "hidden";
    private string _educateVisibility = "hidden";
    private string _innovateVisibility = "hidden";
    private string _legalDisclosuresVisibility = "hidden";

    private string _aboutUsDropdownIconTransition = "";
    private string _elevateDropdownIconTransition = "";
    private string _educateDropdownIconTransition = "";
    private string _innovateDropdownIconTransition = "";
    private string _legalDisclosuresDropdownIconTransition = "";

    private void ToggleDropdownMenu(string value)
    {
        if (value == _aboutUs)
        {
            _aboutUsVisibility = _aboutUsVisibility == "" ? "hidden" : "";
            _aboutUsDropdownIconTransition = _aboutUsDropdownIconTransition == "" ? "transform: rotate(180deg);" : "";
        }
        else if (value == _elevate)
        {
            _elevateVisibility = _elevateVisibility == "" ? "hidden" : "";
            _elevateDropdownIconTransition = _elevateDropdownIconTransition == "" ? "transform: rotate(180deg);" : "";
        }
        else if (value == _educate)
        {
            _educateVisibility = _educateVisibility == "" ? "hidden" : "";
            _educateDropdownIconTransition = _educateDropdownIconTransition == "" ? "transform: rotate(180deg);" : "";
        }
        else if (value == _innovate)
        {
            _innovateVisibility = _innovateVisibility == "" ? "hidden" : "";
            _innovateDropdownIconTransition = _innovateDropdownIconTransition == "" ? "transform: rotate(180deg);" : "";
        }
        else if (value == _legalDisclosures)
        {
            _legalDisclosuresVisibility = _legalDisclosuresVisibility == "" ? "hidden" : "";
            _legalDisclosuresDropdownIconTransition = _legalDisclosuresDropdownIconTransition == "" ? "transform: rotate(180deg);" : "";
        }

        StateHasChanged();
    }

    // note: overridden methods
    protected override Task OnInitializedAsync()
    {
        _objRef = DotNetObjectReference.Create(this);

        return base.OnInitializedAsync();
    }

    private MobileNavMenu? _mobileNavMenu;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;

        _mobileNavMenu = this;
        MobileNavMenuService.SetMobileNavMenu(_mobileNavMenu);
    }

}