@page "/Volunteering"

@inject IJSRuntime JsRuntime

<PageTitle>Volunteering</PageTitle>

<article class="flex w-full flex-col items-center justify-center font-serif max-lg:gap-10 lg:gap-16">
@* note: hero section *@
<div class="flex flex-col items-center justify-center gap-2">
    <h1 class="m-0 max-md:text-3xl md:max-lg:text-4xl lg:text-5xl text-center">
        Volunteering Events
    </h1>

    <p class="m-0 prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert text-center">
        Description of the volunteering type eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.
    </p>
</div>

<div class="flex flex-col justify-center items-center w-full">
    @* note: volunteering timeline section *@
    <div class="flex flex-col justify-center items-center gap-4 w-full">
        <h1 class="m-0 text-center md:max-lg:text-3xl lg:text-4xl">
            Upcoming
        </h1>

        <div class="relative !border-[#2f375a] flex flex-col items-start justify-start p-0 m-0 py-7 gap-4 prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert" style="border-left: 1px solid">
            <div class="ms-6">
                <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

                <time class="text-sm">August 27, 2024</time>

                <h3 class="!mt-0">SST Training</h3>

                <p class="">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>

                <a href="VolunteeringEvent" class="inline-block cursor-pointer rounded bg-[#167070] hover:bg-[#219899] px-4 py-1.5 text-white no-underline">
                    Learn more
                </a>
            </div>

            <div class="ms-6">
                <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

                <time class="text-sm">Month XX, 20XX</time>

                <h3 class="!mt-0">Event Title</h3>

                <p class="">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>
            </div>

            <div class="ms-6">
                <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

                <time class="text-sm">Month XX, 20XX</time>

                <h3 class="!mt-0">Event Title</h3>

                <p class="!mb-0">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>
            </div>
        </div>
    </div>

    @* note: previous events images section *@
    <div class="flex flex-col justify-center items-center gap-4 w-full">
        <h1 class="m-0 text-center md:max-lg:text-3xl lg:text-4xl">
            Previous
        </h1>

        <div class="relative w-full max-sm:max-w-[458px] sm:max-lg:w-[608px] lg:w-[858px]">
            <div id="@_carouselId" class="flex flex-row items-center justify-start gap-2 overscroll-none overflow-y-hidden overflow-x-scroll scroll-smooth custom-scrollbar-hide">
                @foreach (var img in @_images)
                {
                    <div class="flex-none flex aspect-video max-sm:w-[225px] sm:max-lg:w-[300px] lg:w-[425px]">
                        <img src="@img" class="object-cover h-full w-full" alt=""/>
                    </div>
                }
            </div>

            <button @onclick="PrevSlide" class="@_prevVisibility max-sm:hidden absolute top-[calc(50%-28px)] left-2 flex flex-row justify-center items-center px-2 py-4 bg-[#202641] active:opacity-20 rounded border-0 shadow-none focus:outline-none active:outline-none active:transform-none">
                <svg class="h-6 w-6 fill-[#219899]" style="transform: rotate(90deg);">
                    <use href="icons/arrow.svg#arrow-icon"></use>
                </svg>
            </button>

            <button @onclick="NextSlide" class="@_nextVisibility max-sm:hidden absolute top-[calc(50%-28px)] right-2 flex flex-row justify-center items-center px-2 py-4 bg-[#202641] active:opacity-20 rounded border-0 shadow-none focus:outline-none active:outline-none active:transform-none">
                <svg class="h-6 w-6 fill-[#219899]" style="transform: rotate(-90deg);">
                    <use href="icons/arrow.svg#arrow-icon"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

<style>
    .custom-scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .custom-scrollbar-hide {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
</style>

@* note: team section *@
<div class="flex flex-col justify-center items-center gap-4 w-full">
    <h1 class="m-0 text-center md:max-lg:text-3xl lg:text-4xl">
        Volunteering Staff
    </h1>

    <div class="grid max-lg:grid-col-1 lg:grid-cols-2 place-content-center gap-4">
        <div class="flex max-sm:flex-col sm:flex-row justify-start items-start gap-2 bg-[#030530] rounded p-6">
            <div class="flex-none aspect-[4/5] h-52 max-sm:self-center">
                <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover"/>
            </div>

            <div class="flex-shrink flex flex-col justify-start items-start gap-2">
                <h3 class="m-0">FirstName LastName</h3>

                <p class="m-0">Position</p>

                <div class="grid grid-cols-2 place-content-evenly gap-2">
                    @foreach (var item in _person1SocialMedia)
                    {
                        <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                            <svg class="max-md:p-0.5 md:p-1 max-lg:h-8 max-lg:w-8 fill-[#219899] lg:h-9 lg:w-9">
                                <use href="@item"></use>
                            </svg>
                        </button>
                    }
                </div>

                <p class="m-0">Description of the person pulvinar donec leo convallis; facilisi ad purus. Leo non nascetur odio consequat fusce hendrerit cras turpis finibus. Bibendum vestibulum elit mauris non.</p>
            </div>
        </div>

        <div class="flex max-sm:flex-col sm:flex-row justify-start items-start gap-2 bg-[#030530] rounded p-6">
            <div class="flex-none aspect-[4/5] h-52 max-sm:self-center">
                <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover"/>
            </div>

            <div class="flex flex-col justify-start items-start gap-2">
                <h3 class="m-0">FirstName LastName</h3>

                <p class="m-0">Position</p>

                <div class="grid grid-cols-2 place-content-evenly gap-2">
                    @foreach (var item in _person2SocialMedia)
                    {
                        <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                            <svg class="max-md:p-0.5 md:p-1 max-lg:h-8 max-lg:w-8 fill-[#219899] lg:h-9 lg:w-9">
                                <use href="@item"></use>
                            </svg>
                        </button>
                    }
                </div>

                <p class="m-0">Description of the person pulvinar donec leo convallis; facilisi ad purus.</p>
            </div>
        </div>

        <div class="flex max-sm:flex-col sm:flex-row justify-start items-start gap-2 bg-[#030530] rounded p-6">
            <div class="flex-none aspect-[4/5] h-52 max-sm:self-center">
                <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover"/>
            </div>

            <div class="flex flex-col justify-start items-start gap-2">
                <h3 class="m-0">FirstName LastName</h3>

                <p class="m-0">Position</p>

                <div class="grid grid-cols-2 place-content-evenly gap-2">
                    @foreach (var item in _person3SocialMedia)
                    {
                        <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                            <svg class="max-md:p-0.5 md:p-1 max-lg:h-8 max-lg:w-8 fill-[#219899] lg:h-9 lg:w-9">
                                <use href="@item"></use>
                            </svg>
                        </button>
                    }
                </div>

                <p class="m-0">Description of the person pulvinar donec leo convallis; facilisi ad purus. Leo non nascetur odio consequat fusce hendrerit cras turpis finibus.</p>
            </div>
        </div>
    </div>
</div>

@* note: FAQ section *@
<div class="flex flex-col items-center justify-center gap-4 w-full">
    <h1 class="m-0 text-center md:hidden text-2xl">
        FAQs
    </h1>
    <h1 class="m-0 text-center max-md:hidden md:max-lg:text-3xl lg:text-4xl">
        Frequently asked questions
    </h1>

    <nav class="w-full">
        <div class="">
            <button @onclick="() => ToggleDropdownMenu(_faq1)" class="!border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none" style="border: none;">
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="text-start text-base font-serif text-white m-0 p-0">
                        In pretium ultrices enim urna consequat?
                    </p>
                    <svg class="h-6 w-6 fill-white" style="@_faq1.DropdownIconTransition">
                        <use href="icons/arrow.svg#arrow-icon"></use>
                    </svg>
                </div>
            </button>

            <div class="@_faq1.Visibility flex flex-col items-start justify-center px-4 py-3">
                <p class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert m-0">
                    Blandit posuere inceptos condimentum tempus senectus cras suscipit neque imperdiet. Facilisis molestie libero eu nulla posuere metus. Nunc facilisi convallis imperdiet suspendisse vivamus. Aptent quis senectus porttitor commodo ipsum cras vivamus eu. Natoque erat orci, ultricies habitant vestibulum laoreet.
                </p>
            </div>
        </div>

        <div class="">
            <button @onclick="() => ToggleDropdownMenu(_faq2)" class="!border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none" style="border: none; border-top: 1px solid;">
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="text-start text-base font-serif text-white m-0 p-0">
                        In pretium ultrices enim urna consequat?
                    </p>
                    <svg class="h-6 w-6 fill-white" style="@_faq2.DropdownIconTransition">
                        <use href="icons/arrow.svg#arrow-icon"></use>
                    </svg>
                </div>
            </button>

            <div class="@_faq2.Visibility flex flex-col items-start justify-center px-4 py-3">
                <p class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert m-0">
                    Blandit posuere inceptos condimentum tempus senectus cras suscipit neque imperdiet. Facilisis molestie libero eu nulla posuere metus. Nunc facilisi convallis imperdiet suspendisse vivamus. Aptent quis senectus porttitor commodo ipsum cras vivamus eu. Natoque erat orci, ultricies habitant vestibulum laoreet.
                </p>
            </div>
        </div>

        <div class="">
            <button @onclick="() => ToggleDropdownMenu(_faq3)" class="!border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none" style="border: none; border-top: 1px solid;">
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="text-start text-base font-serif text-white m-0 p-0">
                        In pretium ultrices enim urna consequat?
                    </p>
                    <svg class="h-6 w-6 fill-white" style="@_faq3.DropdownIconTransition">
                        <use href="icons/arrow.svg#arrow-icon"></use>
                    </svg>
                </div>
            </button>

            <div class="@_faq3.Visibility flex flex-col items-start justify-center px-4 py-3">
                <p class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert m-0">
                    Blandit posuere inceptos condimentum tempus senectus cras suscipit neque imperdiet. Facilisis molestie libero eu nulla posuere metus. Nunc facilisi convallis imperdiet suspendisse vivamus. Aptent quis senectus porttitor commodo ipsum cras vivamus eu. Natoque erat orci, ultricies habitant vestibulum laoreet.
                </p>
            </div>
        </div>

        <div class="">
            <button @onclick="() => ToggleDropdownMenu(_faq4)" class="!border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none" style="border: none; border-top: 1px solid;">
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="text-start text-base font-serif text-white m-0 p-0">
                        In pretium ultrices enim urna consequat?
                    </p>
                    <svg class="h-6 w-6 fill-white" style="@_faq4.DropdownIconTransition">
                        <use href="icons/arrow.svg#arrow-icon"></use>
                    </svg>
                </div>
            </button>

            <div class="@_faq4.Visibility flex flex-col items-start justify-center px-4 py-3">
                <p class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert m-0">
                    Blandit posuere inceptos condimentum tempus senectus cras suscipit neque imperdiet. Facilisis molestie libero eu nulla posuere metus. Nunc facilisi convallis imperdiet suspendisse vivamus. Aptent quis senectus porttitor commodo ipsum cras vivamus eu. Natoque erat orci, ultricies habitant vestibulum laoreet.
                </p>
            </div>
        </div>

        <div class="">
            <button @onclick="() => ToggleDropdownMenu(_faq5)" class="!border-[#2f375a] w-full p-0 px-4 py-3 bg-transparent shadow-none focus:outline-none focus:bg-transparent active:bg-transparent active:outline-none active:transform-none" style="border: none; border-top: 1px solid;">
                <div class="w-full flex flex-row items-center justify-between">
                    <p class="text-start text-base font-serif text-white m-0 p-0">
                        In pretium ultrices enim urna consequat?
                    </p>
                    <svg class="h-6 w-6 fill-white" style="@_faq5.DropdownIconTransition">
                        <use href="icons/arrow.svg#arrow-icon"></use>
                    </svg>
                </div>
            </button>

            <div class="@_faq5.Visibility flex flex-col items-start justify-center px-4 py-3">
                <p class="prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert m-0">
                    Blandit posuere inceptos condimentum tempus senectus cras suscipit neque imperdiet. Facilisis molestie libero eu nulla posuere metus. Nunc facilisi convallis imperdiet suspendisse vivamus. Aptent quis senectus porttitor commodo ipsum cras vivamus eu. Natoque erat orci, ultricies habitant vestibulum laoreet.
                </p>
            </div>
        </div>
    </nav>
</div>
</article>

@code {

    // note: event pictures carousel
    private readonly string _carouselId = Guid.NewGuid().ToString();
    private int _currentIndex = 0;
    private const int GapPixels = 8;

    private string _prevVisibility = "opacity-20";
    private string _nextVisibility = "opacity-65";

    private string[] _images =
    {
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
        "https://placehold.co/500x500",
    };

    private void PrevSlide()
    {
        if (_currentIndex <= 0) return;

        _currentIndex--;

        _prevVisibility = _currentIndex > 0 ? "opacity-65" : "opacity-20";
        _nextVisibility = _currentIndex < _images.Length - 2 ? "opacity-65" : "opacity-20";

        ScrollToSlide();
    }

    private void NextSlide()
    {
        if (_currentIndex > _images.Length - 2) return;

        _currentIndex++;

        _prevVisibility = _currentIndex > 0 ? "opacity-65" : "opacity-20";
        _nextVisibility = _currentIndex < _images.Length - 2 ? "opacity-65" : "opacity-20";

        ScrollToSlide();
    }

    private async void ScrollToSlide()
    {
        await JsRuntime.InvokeVoidAsync("scrollToSlide", _carouselId, _currentIndex, GapPixels);
    }

    // note: faq section
    private readonly FaQDropdown _faq1 = new();
    private readonly FaQDropdown _faq2 = new();
    private readonly FaQDropdown _faq3 = new();
    private readonly FaQDropdown _faq4 = new();
    private readonly FaQDropdown _faq5 = new();

    private void ToggleDropdownMenu(FaQDropdown value)
    {
        value.Visibility = value.Visibility == "" ? "hidden" : "";
        value.DropdownIconTransition = value.DropdownIconTransition == "" ? "transform: rotate(180deg);" : "";

        StateHasChanged();
    }

    private class FaQDropdown()
    {
        public readonly string DrawerMenuId = Guid.NewGuid().ToString();

        public string Visibility = "hidden";
        public string DropdownIconTransition = "";
    }

    // note: volunteering team section
    // todo: add the profile links
    private readonly string[] _person1SocialMedia = ["icons/linkedin.svg#linkedin-icon", "icons/x.svg#x-icon"];
    private readonly string[] _person2SocialMedia = ["icons/linkedin.svg#linkedin-icon"];
    private readonly string[] _person3SocialMedia = ["icons/linkedin.svg#linkedin-icon"];
}